
<div class="row">
    <div class="col-lg-6 col-md-4 col-sm-2">
        <div *ngFor="let bookmarkByCategory of bookmarkByCategory">
            <span style="position: fixed;">{{bookmarkByCategory.categoryName}}</span>
        <app-categorywisebookmark style="padding-left:5%; padding-top: 10%;" (getDetails)="getDetails($event)" [bookmarkByCategory]="bookmarkByCategory.data"></app-categorywisebookmark>
        </div>
        
    </div>

    <div class="col-lg-6 col-md-4 col-sm-2">
        
<div style="padding-left: 60%; display: inline-block;">
    <app-bookmarkdetail [isDetail]="isDetail" [title]="title" [url]="url" [categoryId]="categoryId"></app-bookmarkdetail>
</div>
    </div>
    </div>

